{
	"presets": ["env", "react"],
	"plugins": [
		"transform-runtime",
		"transform-decorators-legacy",
		"transform-class-properties",
		"react-html-attrs",
		["import", {
			"libraryName": "antd",
			"style": "css"
		}]
	],
}

