
// colors
$lightGreyBg = #fff
$lightGreyBorder = #fff
$darkBGColor = #1A222B;

$raprecblue = #195294

$backgroundColor = #fff;

//type colors
$textColor = #444;

$headlineColor = #000;

//link colors
$linkColor = $raprecblue;

$linkColorHover = lighten($linkColor, 10)

$linkColorAlt = #666;

$linkColorHoverAlt = #999;


// typography

$baseFontSize   = 12px
$baseLineHeight = 1.5 // how large the line height is as a multiple of font size

$bodyFont
	font-family sans-serif
	color $textColor

$headerFont
	font-family serif
	color $headlineColor

// Spacing/Margins

$xs = 0.25em
$small = 0.5em
$medium = 1em
$large = 2em
$xl = 4em

